body {
    background-color: #33425B;
}

.yellow {
    color: #FFD944;
}

.hrBorder {
    margin-top: -10px;
}

.buttoon {
    display: flex;
    justify-content: center;
    background-color: #921E1E;
    border: none;
    text-align: center;
    width: 350px;
    height: 80px;
    padding-top: 5%;

    /* 
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
}

.imgSize {
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 125px;
}

.navSize {
    padding-top: 1%;
    font-size: 150%;
    font-weight: 250;
    padding-bottom: -10%;
    text-wrap: nowrap;
}

.navBarUniform {
    width: 40%;
    list-style: none;
}