@font-face {
    font-family: Laila;
    src: url(../assets/Laila-Regular.ttf);
}

@font-face {
    font-family: Knewave;
    src: url(../assets/Knewave-Regular.ttf);
}

body {
    background-color: #33425B;
}

.yellow {
    color: #FFD944;
    font-family: Laila;
}

.yellowBorder {
    border-color: #FFD944;
}

.hrBorder {
    margin-top: -10px;
}

.buttoon {
    display: flex;
    justify-content: center;
    background-color: #921E1E;
    border: none;
    font-size: 2vw;
    width: 35vw;
    height: 6vw;
    padding-top: 1.5vw;
    text-wrap: nowrap;
}

.imgSize {
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 125px;
}

.navSize {
    padding-top: 1%;
    font-size: 1.5vw;
    padding-bottom: -10%;
    text-wrap: nowrap;
}

.navBarUniform {
    width: 40%;
    list-style: none;
}