body {
    background-color: #33425B;
}

/* Fonts */

@font-face {
    font-family: Laila;
    src: url(../assets/Laila-Regular.ttf);
}

@font-face {
    font-family: Knewave;
    src: url(../assets/Knewave-Regular.ttf);
}

/* Text */

.yellow {
    color: #FFD944;
    font-family: Laila;

}

.yellowHeader {
    color: #FFD944;
    padding-top: 2vw;
    font-size: 6.4vw;
    font-family: Knewave;
    text-align: center;
}

.HomeTxt {
    padding-top: 5vw;
    padding-bottom: 2.5vw;
    font-size: 2.7vw;
    text-align: center;
}

/* Buttons */

.buttoon {
    display: flex;
    justify-content: center;
    background-color: #921E1E;
    border: none;
    font-size: 2vw;
    width: 35vw;
    height: 6vw;
    padding-top: 1.5vw;
    text-wrap: nowrap;
}

.buttonLunk {
    text-decoration: none;
    color: #FFD944;
}

/* Navbar */

.hrBorder {
    margin-top: -1vw;
    border-width: 0.2vw;
}

.imgSize {
    padding-left: 1vw;
    padding-bottom: 2vw;
    max-width: 9vw;
}

.yellowBorder {
    border-color: #FFD944;
}

.navSize {
    padding-top: 1vw;
    font-size: 1.5vw;
    padding-bottom: -10vw;
    text-wrap: nowrap;
}

.navBarUniform {
    width: 40vw;
    list-style: none;
}

/* Cards */

.imgSmol img {
    width: auto;
    height: 15vw;
}

.imgBeeg img {
    width: auto;
    height: auto;
}

.cardSpace {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.cardStyle {
    background-color: #D9D9D9;
    height: 32vw;
}

.cardTitle {
    text-align: center;
    font-family: Laila;
    font-size: 1.5vw;
}

.cardText {
    text-align: center;
    font-family: Laila;
    text-decoration: none;
    font-size: 1vw;
}